<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carshop.server.dao.ParametersMapper">

    <select id="selectOneById" resultType="Parameters">
        SELECT * FROM parameters WHERE paraId = #{paraId}
    </select>

    <update id="updateOneById">
        UPDATE parameters SET
            carSize = #{carSize},
            engine = #{engine},
            level = #{level},
            structure = #{structure},
            assurance = #{assurance},
            oilWear = #{oilWear},
            manufacturer = #{manufacturer},
            gearbox = #{gearbox},
            maxSpeed = #{maxSpeed}
        WHERE paraId = #{paraId}
    </update>
    
    <insert id="insertOneByParam" parameterType="Parameters">
        <selectKey order="AFTER" keyProperty="paraId" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO parameters(carSize,engine,level,structure,assurance,oilWear,manufacturer,gearbox,maxSpeed)
        VALUES(#{carSize},#{engine},#{level},#{structure},#{assurance},#{oilWear},#{manufacturer},#{gearbox},#{maxSpeed})
    </insert>
</mapper>